@font-face {
  font-family: 'Open Sans';
  src: url(../font/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../font/OpenSans-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../font/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../font/OpenSans-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}




html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  align-items: center;
  padding: 0;
  outline: none;
}

body {
  display: block;
  font-family: 'Open Sans', 'sans-serif';
}

.heading {
  font-size: 48px;
  margin-bottom: 22px;
  font-weight: 400;
  margin-top: 0;
}

.header-description{
  visibility: hidden; 
  display: none;
}
.container {
  margin: 0 auto;
  max-width: 1630px;
  padding: 0 15px;
}

.swiper-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}


img {
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-menu {
  background-color: #000000;
  align-items: center;
  color: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 30px;
}

.disabled_indent {
  padding-left: 150px;
  padding-right: 150px;
}

.customScroll::-webkit-scrollbar {
  width: 2px;
}

.customScroll::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 1);
}

.logo {
  height: 39.9px;
  width: 173px;
  margin-right: 179px;
}


.navigation-menu-container {
  display: flex;
  font-size: 18px;
  align-items: center;
}

.navigation-menu-list {
  display: flex;
}

.navigation-menu-list__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 24.51px;
}

.navigation-menu-list__item:not(:last-child) {
  margin-right: 62.4px;
}

.login-btn {
  display:inline-flex;
  margin-left: auto;  
  color: #ffffff;
  transition: color .3s ease-in-out;
}
.login-btn:active{
  color:#9D5CD0;
}

.login-btn:focus{
  color:  #7943A4;
}

.login-btn__img{
  margin-right: 7px;
  fill: currentColor;
}

.dropdown-menu {
  width:99.8%;
  background: rgba(0, 0, 0, 0.4);
  color: #FFFFFF;
  z-index: 3;
  position: absolute;
}

.dropdown-menu-menu{
  display: flex;  
  padding-top: 23px;
  padding-bottom: 21px;
}

.dropdown-menu__list {
  display: flex;

  z-index: 2;
}

.dropdown-menu__icon{
  align-items: center;
  margin: 0;
  padding: 0;
  transition: transform .3s ease-in-out;
}
.active--btn .dropdown-menu__icon {
  transform:translateY(-1px) rotate(178deg);
}

.dropdown-menu__btn {
  align-items: center;
  cursor: pointer;
  color: #fff;
  transition: color .3s ease-in-out, background .3s ease-in-out;
}

.dropdown-menu__btn:hover:not(:active) {
  color: #9D5CD0;
  background-color: transparent;
}

.dropdown-menu__btn:focus {
  background-color: #7943A4;
  color: #fff;
}

.dropdown-menu__btn:active {
  background-color: transparent;
  color: #7943A4;
}

.dropdown-menu__item {
  display: inline-flex;
  position: relative;
  font-size: 18px;
  font-weight: 400;
}

.dropdown-menu__item:not(:last-child){
  margin-right: 98px;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
  transition: none;
}

.dropdown-menu-container {
  color: #fff;
  position: absolute;
  top: 45px;
  display: none;
}

.simplebar-scrollbar {
  width: 2px;
  overflow:auto;
}


.customScroll-track{
  margin-top: 40px;
}

.simplebar-vertical {
  background-color: #000000;
  max-width: 2px;
}

.simplebar-scrollbar::before {
  width: 2px;
  background-color: #FFFFFF;
  position: absolute;
  opacity: 1;
  left: 0;
}

.dropdown-menu-container-box{
  padding: 38px 18px 42px 18px;
  background-color: rgba(0, 0, 0, 0.4); 
  width: 300px;
}
.dropdown-menu-container-list {
  height: 220px;
  padding:20px;
  padding-top: 0;
}

.select-item {
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
}

.active-dropdown-menu__item {
  display: block;
}

@keyframes anim {
  0% {
    transform: scaleX(0) translateX(-50%);
    opacity: 0;
  }
  50% {
    transform: scaleX(1) translateX(0%);
    opacity: 1;
  }
  100% {
    transform: scaleX(0) translateX(-50%);
    opacity: 0;
  }
}

.rectangle-img:active {
  background-repeat: no-repeat;
  transition: background 0s;
}

.rectangle-img:hover {
  border: 2px solid #9D5CD0;
}

.simplebar-content-wrapper {
  overflow: auto;
}

.rectangle-img {
  box-sizing: border-box;
  content: "";
  transition: background 9999999s ease-in-out, border .3s ease-in-out;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 7px 124px 12px 14px;
}

.rectangle-img:not(:last-child) {
  margin-bottom: 18px;
}

.rectangle1-1:active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/menu2/rectangle1.1.png)
}

.rectangle1-1 {
  background-image: url(../img/menu2/rectangle1.1.png);
}

.rectangle1-2:active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/menu2/rectangle1.2.png)
}

.rectangle1-2 {
  background-image: url(../img/menu2/rectangle1.2.png);
}

.rectangle1-3:active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/menu2/rectangle1.3.png)
}

.rectangle1-3 {
  background-image: url(../img/menu2/rectangle1.3.png);
}

.rectangle1-4:active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/menu2/rectangle1.4.png)
}

.rectangle1-4 {
  background-image: url(../img/menu2/rectangle1.4.png);
}

.rectangle {
  background-image: url(../img/menu2/rectangle.png);
}

.rectangle2-1:active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/menu2/rectangle2.1.png)
}

.rectangle2-1 {
  background-image: url(../img/menu2/rectangle2.1.png);
}

.rectangle2-2:active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/menu2/rectangle2.2.png)
}

.rectangle2-2 {
  background-image: url(../img/menu2/rectangle2.2.png);
}

.rectangle2-3:active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/menu2/rectangle2.3.png)
}

.rectangle2-3 {
  background-image: url(../img/menu2/rectangle2.3.png);
}

.rectangle2-4:active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/menu2/rectangle2.4.png)
}

.rectangle2-4 {
  background-image: url(../img/menu2/rectangle2.4.png);
}

.rectangle3-1:active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/menu2/rectangle3.1.png)
}

.rectangle3-1 {
  background-image: url(../img/menu2/rectangle3.1.png);
}

.rectangle3-2:active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/menu2/rectangle3.2.png)
}

.rectangle3-2 {
  background-image: url(../img/menu2/rectangle3.2.png);
}

.rectangle3-3:active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/menu2/rectangle3.3.png)
}

.rectangle3-3 {
  background-image: url(../img/menu2/rectangle3.3.png);
}

.rectangle3-4:active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/menu2/rectangle3.4.png)
}

.rectangle3-4 {
  background-image: url(../img/menu2/rectangle3.4.png);
}

.rectangle4-1:active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/menu2/rectangle4.1.png)
}

.rectangle4-1 {
  background-image: url(../img/menu2/rectangle4.1.png);
}

.rectangle4-2:active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/menu2/rectangle4.2.png)
}

.rectangle4-2 {
  background-image: url(../img/menu2/rectangle4.2.png);
}

.rectangle4-3:active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/menu2/rectangle4.3.png)
}

.rectangle4-3 {
  background-image: url(../img/menu2/rectangle4.3.png);
}

.rectangle4-4:active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/menu2/rectangle4.4.png)
}

.rectangle4-4 {
  background-image: url(../img/menu2/rectangle4.4.png);
}

.rectangle4-5:active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/menu2/rectangle4.5.png)
}

.rectangle4-5 {
  background-image: url(../img/menu2/rectangle4.5.png);
}

.rectangle5-1:active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/menu2/rectangle5.1.png)
}

.rectangle5-1 {
  background-image: url(../img/menu2/rectangle5.1.png);
}

.rectangle5-2:active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/menu2/rectangle5.2.png)
}

.rectangle5-2 {
  background-image: url(../img/menu2/rectangle5.2.png);
}

.rectangle5-3:active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/menu2/rectangle5.3.png)
}

.rectangle5-3 {
  background-image: url(../img/menu2/rectangle5.3.png);
}

.rectangle5-4:active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/menu2/rectangle5.4.png)
}

.rectangle5-4 {
  background-image: url(../img/menu2/rectangle5.4.png);
}

.rectangle5-5:active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(../img/menu2/rectangle5.5.png)
}

.rectangle5-5 {
  background-image: url(../img/menu2/rectangle5.5.png);
}

.rectangle {
  content: "";
  background-repeat: no-repeat;
  width: 300px;
} 

.navigation-menu-list__link {
  transition: color .3s ease-in-out, background .3s ease-in-out;
}

.navigation-menu-list__link:hover{
  color: #C283F3;
}

.navigation-menu-list__link:active{
  color: #7943A4;
}

.navigation-menu-list__link:focus{
background: #7943A4;
color: #FFFFFF;
border: transparent;
}

.menu-select>li {
  margin-right: 100px;
  font-size: 18px;
}

.search-form {
  display: flex;
  margin-left: auto;
  align-items:flex-end;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color:#FFFFFF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:#FFFFFF;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:#FFFFFF;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:#FFFFFF;
}

.button-icon {
  width: 22.1px;
  height: 22.62px;
  background-image: url(../img/icons/search.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: inherit;
  margin-right: 7px;
}

.search {
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid #FFFFFF;
  color: #FFFFFF;
  cursor: pointer;
  line-height: 23px;
  padding-right: 4px;
  transition:color .3s ease-in-out, border  .3s ease-in-out;
}


.banner-text {
  max-width: 589px;
  color: #FFFFFF;
  position: relative;
  z-index: 2;
  padding-top: 142px;
  padding-bottom: 135px;
}

element.style {
  width: 100%;
}

.gallery-li {
  margin-bottom: 43px;
}

.first-slider__imange img{
max-width: 100%;
}

.first-slider__imange {
  text-align: center;
  width: 1920px;
  height: 98%;
  position: relative;
  transition-property: transform;
  flex-shrink: 0;
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: .5s;
  -moz-transform: scale(1, 1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: .5s;
  transform: scale(1, 1);
  transition-timing-function: ease-out;
  transition-duration: .5s;
  transform: scale(1, 1);
  transition-timing-function: linear;
  transition-duration: .5s;
  overflow: hidden;
  animation: loading 116650ms ease-in-out infinite;
}

@keyframes loading {
  50% {
    transform: scale(2, 2);
  }
  50% {
    transform: scale(2, 2);
  }
  50% {
    transform: scale(2, 2);
  }
  50% {
    transform: scale(2, 2);
  }
  50% {
    transform: scale(2, 2);
  }
}

.swiper-pagination-bullet-active {
  background-color: #ffffff;
}

.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.4);
}

.first-slider__list {
  min-width: 0;
  display: flex;
  color: #FFFFFF;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition-property: transform;
  box-sizing: content-box;
}

.banner-text__heading {
  font-size: 72px;
  font-weight: 700;
  line-height: 82px;
  margin-bottom: 20px;
  margin-top: 0;
}

.banner-text__text {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 92px;
}

.first-slider {
  color: #FFFFFF;
  position: relative;
  overflow: hidden;
}

.subscription-btn__link {
  border-radius: 100px;
  font-size: 18px;
  font-weight: 700;
  padding: 12.5px 27px;
  background-color: #9D5CD0;
  border: 3px solid #9D5CD0;
  transition: border .3s ease-in-out, background .3s ease-in-out;
}

.subscription-btn__link:active{
  background: #7943A4;
  border: 3px solid #7943A4;
}

.subscription-btn {
  text-align: center;
  color: #FFFFFF;
  border-radius: 100px;
  background-color: #9D5CD0;
  border: 3px solid #9D5CD0;
  padding: 21.5px 3px;
  transition: border .3s ease-in-out,  background .3s ease-in-out;
}

.subscription-btn:focus:not(active) {
  border: 3px solid #C283F3;
  background-color: #FFFFFF;
}


.subscription-btn:hover {
  border: 3px solid #D1A9F0;
}

.subscription-btn:active {
  background-color: #7943A4;
  border: 3px solid #D1A9F0;
}

.description-section {
  padding-top: 72px;
  padding-bottom: 69px;
}

.description-section-text {
 max-width: 1080px;
}

/* Галерея */

.choices__list--dropdown .choices__item--selectable{
  border-bottom: 1px solid transparent;
}

.choices__list--dropdown .choices__item--selectable:after {
  content: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background .3s ease-in-out, transform .3s ease-in-out;
}

.choices__list--dropdown .choices__item--selectable:not(:last-child){
  border-bottom: 1px solid #999999;
}
.choices__list--dropdown {
  border-radius: 6px;
}

.choices-block {
  height: 855px;
  display: flex;
  flex-direction: column;
  margin-right: 45px;
}

.gallery-container {
  display: flex;
}

.gallery {
  height: 995px;
  background-image: url(../img/gallery.jpg);
  color: #FFFFFF;
  z-index: 0;
  margin-bottom: 86px;
  padding-top: 86px;
}

.gallery-heading{
margin-bottom: 26px;
}


.choices-block__heading {
  margin-bottom: 17px;
  margin-top: 0;
  font-weight: 400;
  font-size: 17px;
}

.gallery-text {
  max-width: 348px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
  margin-top: auto;
}

.tab-content {
  display: none;
  position: relative;
}

.tab-content-active {
  display: flex;
  flex-direction: column;
}

.compolation-gallary {
  display: flex;
}

.choices[data-type*=select-one]:after {
  width: 20px;
  height: 20px;
  background-image: url(../img/icons/arrow.svg);
  background-repeat: no-repeat;
  border-color: transparent;
  transition: transform .3s ease-in-out ;
  top: 22%;
  background-position: center;
}


.choices[data-type*=select-one].is-open:after {
  transform:rotate(181deg);
  border-color: transparent;
  margin-top: 0;
}

.choices__input {
  background-color: #FFFFFF;
}


.tabs__btn {
  content: "";
  width: 31px;
  height: 31px;
  background-image: url(../img/icons/btn-tabs.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100px;
  background-color: rgba(102, 102, 102, 1);
  margin-right: 19px;
  border: 2px solid rgba(102, 102, 102, 1);
  outline: none;
}

.gallery-avtorisation {
  color: #D1A9F0;
}

.two-btn {
  display: flex;
  width: 179px;
  height: 30px;
  align-items: center;
  margin-bottom: 43px;
  padding-top: 34px;
}

.gallery-select {
  background-color: transparent;
  color: rgb(255, 255, 255, 1);
  width: 389px;
  height: 40px;
  padding: 3px 0px 5px 11px;
  border-radius: 6px;
  margin-right: 61px;
  transition: background .3s ease-in-out, rotate .3s ease-in-out;
}


.choices__inner {
  width: 400px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  min-height: 23px;
  padding: 4.5px 7.5px 9.75px 8.75px;
  transition: background .3s ease-in-out;
}

.is-open .choices__inner {
  border-radius: 6px
}

.choices__inner:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__list--single .choices__item {
  font-size: 16px;
}

.choices__list {
  color: #FFFFFF;
  background-color: transparent;
}

.choices__list--single {
  font-size: 17px;
  font-weight: 400;
}

.choices .is-focused .is-open{
  transition: focusState .3s ease-in-out;
}
/* Каталог */

.catalog {
  margin-bottom: 84px;
}

.select-list, .catalog-accordion__list {
  padding: 0;
  margin: 0;
}

.select-list__item {
  display: none;
}

.tab-content-active-lang {
  display: flex;
  flex-direction: column;
}

.lang-list__btn {
  display: block;
  content: "";
  width: 67px;
  height: 67px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100px;
  border: 2px solid transparent;
  padding: 8px;
  transition: box-shadow .3s ease-in-out, border .3s ease-in-out;
}

.lang-list__item {
  margin: -6px;
}

.catalog-list-title {
  margin-right: 36px;
  margin-bottom: 21px;
}

.catalog-title {
  font-weight: 600;
  margin-bottom: 12px;
  font-size: 24px;
}

.catalog-title-text__text{
  line-height: 32px;
  margin: 0;
}
.catalog-text-2-unfamiliar {
  margin-bottom: 10px;
}

.lang-picture-1 {
  margin-bottom: 5px;
}

.lang-picture-1-unfamiliar {
  padding: 133px 224px 100px 240px;
  background-color: rgba(236, 236, 236, 1);
}

.lang-1 {
  background-image: url(../img/icons/lang-1.svg);
}

.lang-2 {
  background-image: url(../img/icons/lang-2.svg);
}

.lang-3 {
  background-image: url(../img/icons/lang-3.svg);
}

.lang-4 {
  background-image: url(../img/icons/lang-4.svg);
}

.lang-5 {
  background-image: url(../img/icons/lang-5.svg);
}

.lang-list {
  width: 437px;
  height: 69px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.catalog-list {
  display: flex;
}

.accordion-lang {
  width: 100%;
  padding-left: 0;
}

.block-text {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  margin: 0;
}

.eventCard__block-text{
  width: 400px;
}
.text-select-list {
  max-width: 1087px;
  margin-bottom: 40px;
}

.catalog-title-text {
  font-size: 12px;
  color: #999999;
  margin-bottom: 8px;
}

.catalog-accordion {
  display: flex;
  flex-direction: row;
}

.catalog-accordion__list .catalog-picture-active {
  display: block;
}

.catalog-accordion__list {
  width: 100%;
}

.catalog-picture {
  display: none;
  width: 750px;
  height: 470px;
  margin-right: 50px;
  margin-bottom: 89px;
}

.surname-list__item {
  column-width: 208px;
  column-count: 3;
  height: auto;
  font-size: 17px;
  line-height: 32px;
  padding-left: 0;
  padding-bottom: 61px;
}



.surname-list {
  padding-right: 67px;
  padding-top: 23px;
}

.accordion-lang__list {
  position: relative;
  height: auto;
}

.accordion-lang__list::after {
  bottom: 0;
}

.accordion-lang__list::before:not(:last-child) {
  top: -1px;
}

.accordion-lang__list:hover {
  z-index: 1;
}

.accordion-lang__list::after:not(:last-child) {
  bottom: -1px;
}

.emptyCard {
  display: flex;
  padding: 25px 0px;
}

.emptyCard__list{
padding-top: 41px;
padding-bottom: 40px;
padding-right: 221px;
}

.emptyCard-heading{
  font-weight: 600;
  font-size: 24px;
  margin: 0;
  margin-bottom: 5px;
}

.emptyPicture {
  display: block;
  content: '';
  background-image: url(../img/empty-card.png);
  width: 251px;
  height: 165px;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  padding: 92px 135px;
  border: 2px solid rgba(183, 183, 183, 1);
  margin-right: 24px;
}

.accordion-text {
  line-height: 21.79px;
}

.accordion-href {
  color: #9D5CD0;
  font-weight: 600;
  font-style: 16px;
}

.lang-galery-btn {
  font-size: 17px;
  color: #9D5CD0;
}

.btn-picture {
  display: flex;
  width: 100%;
  padding-top: 29px;
  padding-bottom: 34px;
  border-bottom: 1px solid #CACACA;
  border-top: 1px solid #CACACA;
  padding-left: 0;
  font-size: 24px;
  font-weight: 600;
  transition: background .3s ease-in-out,
   color .3s ease-in-out, 
   border .3s ease-in-out;
}

.btn-picture__text{
  transition: background .3s ease-in-out,
  color .3s ease-in-out;
}

.btn-picture::after {
  content: "";
  flex-shrink: 0;
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(../img/icons/open-accordion.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  border-radius: 100px;
  background-color: #ECECEC;
  border: 2px solid #ECECEC;
  transition: background .3s ease-in-out,
  color .3s ease-in-out, 
  border .3s ease-in-out,
  transform .3s ease-in-out;
}

.ui-state-active::after {
  transform: rotate(179deg);
  filter: brightness(100%);
}

/* События */

.events {
  margin-bottom: 81px;
}

.events__list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 50px;
}

.eventCard {
  display: flex;
  flex-direction: column;
  height: 397px;
  border: 1px solid rgba(202, 202, 202, 1);
  padding: 10px 18px 27px 49px;
  border-top:none ;
}

.events__heading {
  margin-bottom: 20px;
}

.gs-text {
  text-align: right;
  color: #999999;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  margin: 0;
  margin-left: auto;
  margin-bottom: 3px;
}

.gs-text-bold {
  font-weight: 600;
}



.events__img {
  outline: none;
}

.events__item {
  width: 500px;
}

.eventCard__title {
  font-size: 24px;
  line-height: 33px;
  font-weight: 600;
  margin-bottom: 4px;
}

.events-more {
  display: flex;
  color: #9D5CD0;
  margin-top: auto;
  font-size: 16px;
  transition: background .3s ease-in-out, border .3s ease-in-out;
  line-height: 25px;
}

.events-a {
  border-bottom: 1px solid #9D5CD0;
  transition: color .3s ease-in-out;
}

.btn-event {
  display: flex;
  justify-content: center;
}


.btn-event-all {
  border: 1px solid;
  border-radius: 100px;
  padding: 19px 35px;
  font-size: 18px;
  line-height: 19.51px;
  font-weight: 700;
  background-color: transparent;
  color: #9D5CD0;
  margin: 0 auto;
}

.transparent {
  border: none;
}

/* focus hover active */

.events-more:focus{
  background-color: #9D5CD0;
  outline: none;
  border: 1px solid #9D5CD0;
  color: #FFFFFF;
}

.search:focus, .btn-picture:focus {
  outline: none;
}

.search:focus, .search:hover {
  border-bottom: 1px solid #C283F3; ;
}

.search:active {
  border-bottom: 1px solid #7943A4;
}

.events-a:focus {
  text-decoration: underline #FFFFFF;
}


.btn-picture:hover {
  color: #9D5CD0;
  border-top:1px solid #9D5CD0 ;
  border-bottom: 1px solid #9D5CD0 ;
}

.btn-picture__text:focus,
 .btn-picture:focus::after {
  background-color: #D1A9F0;
  }

.main-li-1:hover, .login-btn:hover {
  color: #C283F3;
}


.events-a:hover {
  color: #7943A4;
}

input:focus {
  color: white;
}

.galleryImange{
  z-index: 3;
}
.gallery-pictures{
  width: 350px;
  height: 350px;
  border:3px solid transparent;
}

.gallery-pictures:focus{
border:3px solid #7943A4;
outline: none;
}

.gallery .editions-imange-text::before{
  content: "";
  position: absolute;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
border: 2px solid #D1A9F0;
opacity: 0;
z-index: -1;
top: 0px;
bottom: 0px;
right: 0px;
left: 0px;
transition-property: z-index, opacity;
  transition: .3s ease-in-out;
}

.gallery .editions-imange-text:active::before{
  z-index: 1;
  opacity: 1;
}

.gallery .gallery-swiper-slide::before{
  content: "";
  position: absolute;
  top: 20px;
  bottom: 20px;
  right: 20px;
  left: 20px;
  background-color: rgba(0,0,0,0.5);
  background-image: url(../img/galery-hover.svg);
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: -1;
  opacity: 0;
  transition-property: z-index, opacity;
  transition: .3s ease-in-out;
}

.gallery-swiper-slide:hover:before {
  z-index: 1;
  opacity: 1;
}
.gallery-hover {
  opacity: 0;
  position: absolute;
  top: 26px;
  left: 26px;
  z-index: 2;
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
}

.gallery-hover:hover {
  opacity: 1;
  content: "";
  display: inline-block;
  position: absolute;
  transform: scale(1.1);
  filter: brightness(90%);
  z-index: 2;
}

.btn-reset.is-active {
  transform: none!important;
}

.tabs__btn:focus {
  border: 2px solid black;
}

.tabs__btn:hover {
  background-color: #9D5CD0;
}

.tabs__btn:active {
  background-color: #7943A4;
  border-color: black;
}

.tabs__btn:disabled {
  background-color: rgba(102, 102, 102, 1);
  border-color: rgba(102, 102, 102, 1);
}

.lang-list__btn:focus, .lang-list__btn:hover {
  box-shadow: 0 0 20px 0 rgba(157, 92, 208, 0.7);
}

.lang-list__btn:active {
  border: 2px solid #7943A4;
}
.btn-picture:hover::after {
  background-color:#D1A9F0;
}

.btn-picture:active::after {
  border: 2px solid #9D5CD0;
}

.surname-list__btn {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  display: block;
  padding-left: 0;
  transition: background .3s ease-in-out;
}

.surname-list__btn:focus {
  border: none;
  outline: transparent;
  background-color: #7943A4;
}

.surname-list__btn:hover {
  border-bottom: 1px solid #9D5CD0;
  background-color: transparent;
}

.surname-list__btn:active {
  color: #9D5CD0;
  background-color: transparent;
}

.lang-list__btn-active {
  border: 2px solid #7943A4;
}

.slider-section-gallery {
  margin-bottom: 72px;
  color: #FFFFFF;
  position: relative;
  overflow: hidden;
}

.imange-slider__imange {
  width: 335px;
  height: 335px;
}

.editions {
  background-image: url(../img/books/background-editions.jpg);
  margin-bottom: 80px;
}

.editions-container {
  display: flex;
  padding-top: 83px;
}

.choices-section {
  flex-direction: row;
  color: #FFFFFF;
  margin-right: 171px;
}

.imange-slider-editions img {
  max-width: 100%;
}

.imange-slider-editions{
margin-bottom: 14px;
}

.editions-h3 {
  font-size: 16px;
  font-weight: 700;
}

.editions__title {
  margin-bottom: 28px;
}

.editions-priceText {
  width: 349px;
  display: flex;
  min-width: 0;
  padding-left: 3px;
  margin-bottom: 13px;
  color: #FFFFFF;
  align-items: baseline;
}

.editions-title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

.editions-price {
  margin-left: auto;
  font-style: italic;
  font-size: 15px;
}

.editions-text {
  line-height: 27px;
}

.editions-button-order {
  background-color: transparent;
  border-radius: 19px;
  border: 2px solid #9D5CD0;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21.79px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
  padding: 7px 20px;
}

.editions-imange-text {
  width: 350px;
  height: 350px;
  z-index: 1;
}

.editions-bookImg {
  height: 390px;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 1;
}

.cathegories__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 374px;
  padding-top: 3px;
  margin-bottom: 34px;
  padding-left: 0;
}

.editions-form {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.editions-p {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
}

.editions-h3-form {
  margin-bottom: 15px;
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #ten, #eleven, #twelve {
  display: none;
}

#one+.cathegories-check, #two+.cathegories-check, #three+.cathegories-check, #four+.cathegories-check, #five+.cathegories-check, #six+.cathegories-check, #seven+.cathegories-check, #eight+.cathegories-check, #nine+.cathegories-check, #ten+.cathegories-check, #eleven+.cathegories-check, #twelve+.cathegories-check {
  position: absolute;
  top: 7px;
  left: -23px;
  width: 10px;
  height: 10px;
  border: 1px solid #999999;
  text-align: center;
  transition: border .3s ease-in-out;
}

#one+.cathegories-check:active, #two+.cathegories-check:active, #three+.cathegories-check:active, #four+.cathegories-check:active, #five+.cathegories-check:active, #six+.cathegories-check:active, #seven+.cathegories-check:active, #eight+.cathegories-check:active, #nine+.cathegories-check:active, #ten+.cathegories-check:active, #eleven+.cathegories-check:active, #twelve+.cathegories-check:active {
  border: 1px solid #C283F3;
}

.editions-label:active {
  color: #C283F3;
}

.editions-input input {
  background-color: rgba(157, 92, 208, 0.5);
  height: 36px;
  border: none;
}

.editions-input {
  width: 277px;
  height: 42px;
  color: #FFFFFF;
}

.input-number {
  font-size: 16px;
  padding-left: 9px;
  color: #FFFFFF;
  width: 72px;
}

#one+.cathegories-check:before, #two+.cathegories-check:before, #three+.cathegories-check:before, #four+.cathegories-check:before, #five+.cathegories-check:before, #six+.cathegories-check:before, #seven+.cathegories-check:before, #eight+.cathegories-check:before, #nine+.cathegories-check:before, #ten+.cathegories-check:before, #eleven+.cathegories-check:before, #twelve+.cathegories-check:before {
  content: url(../img/books/check-mark.svg);
  position: absolute;
  top: -7px;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

#one:checked+.cathegories-check:before, #two:checked+.cathegories-check:before, #three:checked+.cathegories-check:before, #four:checked+.cathegories-check:before, #five:checked+.cathegories-check:before, #six:checked+.cathegories-check:before, #seven:checked+.cathegories-check:before, #eight:checked+.cathegories-check:before, #nine:checked+.cathegories-check:before, #ten:checked+.cathegories-check:before, #eleven:checked+.cathegories-check:before, #twelve:checked+.cathegories-check:before {
  opacity: 1;
}

.editions-label {
  font-size: 16px;
  line-height: 24.07px;
  position: relative;
  cursor: pointer;
  top: -6px;
  left: 24px;
}

.cathegories__item {
  display: flex;
  align-items: center;
}

.editions-swiper-wrapper {
  height: 600px;
  padding-top: 4px ;
}

.swiper-editions {
  display: flex;
}

.editions-swiper-container {
  display: flex;
  width: 1148px;
  height: 683px;
  margin-right: 0;
  overflow: hidden;
  padding-top: 85px;
}

.gallery-swiper {
  display: flex;
}

.swiper-pagination{
  max-width: 81px;
}

.swiper-button-prev,
.swiper-button-next, 
.swiper-pagination{
  position: relative;
} 
.gallery-button-prev{
  left: 6px;
}

.gallery-button-next{
  right: 5px;
}

.gallery-button-prev,
.gallery-button-next{
  width: 30px;
  height: 30px;
  padding: 10px;
  color: #FFFFFF;
  background-color: #666666;
  border-radius: 50px;
  border: 2px solid #666666;
  transition: background .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out;
}

.gallery-button-prev:focus,
.gallery-button-next:focus{
  background-color: #666666;
  border: 2px solid #000000;
}


.gallery-button-prev:hover,
.gallery-button-next:hover {
  background-color: #9D5CD0;
  border: 2px solid #9D5CD0
}

.gallery-button-prev:active,
.gallery-button-next:active {
  background-color: #7943A4;;
  border: 2px solid #000000;
}


.swiper-button-prev::after,
.swiper-button-next::after{
  font-size: 10px;
}

.swiper-pagination{
  bottom: 0;
}
.gallery-swiper-container {
  display: flex;
  flex-direction: column;
  width: 1158px;
  height: 831px;
  margin-right: 0;
  overflow: hidden;
}

.gallery-swiper-container .gallery-swiper-slide {
  height: calc((100% - 116px)/2);
  overflow: hidden;
}

.gallery-swiper-btns{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 27px;
  margin-bottom: 31px;
}

.projects-heading {
  margin-bottom: 20px;
}

.projects-text2 {
  max-width: 1030px;
  line-height: 31px;
}

.projects-text-text {
  max-width: 1080px;
  margin-bottom: 21px;
}

.projects-text2 a {
  font-weight: 600;
  color: #D1A9F0;
}

.projects-text:last-child {
  margin-bottom: 21px;
}

.projects-swiper-text {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 23px;
}

.projects-imange {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 450px;
  height: 150px;
  border: 1px solid rgba(202, 202, 202, 1);
  margin-right: 0;
  filter: grayscale(1);
  cursor: pointer;
  transition: border .3s ease-in-out;
}

.projects-imange:hover {
  filter: grayscale(0);
  border: 1px solid #9D5CD0
}

.projects-imange:active {
  filter: grayscale(0);
  border: 1px solid #9D5CD0
}

.projects-swiper-container {
  height: auto;
  overflow: hidden;
}

.projects-swiper-slide {
  max-width: 450px;
}

.projects {
  margin-bottom: 83px;
}

.i-tultip-marker {
  border: 1px solid #9D5CD0;
  border-radius: 50px;
  cursor: pointer;
  padding: 0px 5px 0 5px;
  margin-right: 3px;
  font-size: 10px;
}

.i-tultip-text {
  width: 264px;
  max-height: 264px;
  position: absolute;
  color: #FFFFFF;
  opacity: 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
  text-align: center;
  background: #9D5CD0;
  bottom: 30px;
  left: -121px;
  border: 1px solid #9D5CD0;
  padding: 7px 0px;
  transition: opacity .3s ease-in-out;
}

.i-tultip-text::after {
  width: 0;
  height: 0;
  border-left: 14.39px solid transparent;
  border-right: 12.28px solid transparent;
  border-top: 17px solid #9D5CD0;
  position: absolute;
  content: "";
  display: flex;
  align-items: flex-start;
  left: 115px;
}

.i-tultip {
  position: relative;
}

.i-tultip-marker:hover+.i-tultip-text, .i-tultip-marker:focus+.i-tultip-text {
  opacity: 1;
}

.i-tultip-marker:hover, .i-tultip-marker:focus {
  background: #D1A9F0;
  color: #ffffff;
}

.i-tultip-marker:active {
  background: #9D5CD0;
  color: #ffffff;
}

.map {
  width: 460px;
  height: 460px
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.contact-information-section {
  display: flex;
  overflow: hidden;
}

.contact-heading {
  margin-bottom: 20px;
}

.contact-link {
  flex-direction: column;
  padding: 124px 122px 0px 151px;
  border-top: 1px solid rgba(202, 202, 202, 1);
}

.contact-adress-link {
  margin-bottom: 31px;
}

.form-control {
  padding: 10px 189px 10px 23px;
  border-radius: 50px;
  border: 1px solid rgba(51, 51, 51, 1);
  margin-bottom: 23px;
  font-size: 16px;
}

.contact-h3-input {
  margin-bottom: 19px;
  font-size: 24px;
  font-weight: 400;
  margin-top: 0;
}

.contact-feedback-heading{
  margin-bottom: 24px;
}
.contact-h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 3px;
  margin-top: 0;
  line-height: 32px;
}

.contact-name-form {
  margin-bottom: 41px;
}

.contact-feedback {
  font-size: 19px;
  font-weight: 400;
}

.button-contact {
  font-size: 18px;
  color: #9D5CD0;
  border-radius: 50px;
  border: 2px solid #9D5CD0;
  background-color: transparent;
  padding: 17px 33px;
  font-weight: 700;
}

.contact-map {
  width: 1238px;
  height: 700px;
}


.footer-contacts-icon {
  width: 100px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-left: 0;
}

.icon {
  border-radius: 100px;
  text-align: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}

.watsapp-icon {
  background-image: url(../img/icons/watsapp.svg);
  background-color: rgba(48, 191, 57, 1);
  padding: 4.19px 29.94px 8.87px 9.25px;
}

.telegramm-icon {
  background-image: url(../img/icons/telegram.svg);
  background-color: #2AABEE;
  padding: 5.04px 22.72px 8.96px 17.56px;
}

.social-feedback {
  align-items: center;
}

.footer-footer-social-icons {
  width: 177px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

.footer-footer-social {
  display: flex;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 17px;
}

.footer-vk-icon {
  padding: 9.04px 25.72px 21.96px 19.56px;
  background-image: url(../img/icons/social-vk.svg);
}

.footer-instagram-icon {
  padding: 10.04px 32.72px 23.96px 18.56px;
  background-image: url(../img/icons/social-instagram.svg);
}

.footer-fb-icon {
  padding: 10.04px 29.72px 21.96px 17.56px;
  background-image: url(../img/icons/social-fb.svg);
}